@media (max-width: 1000px) {

}


@media (max-width: 670px) {
    .header-kanan {
        display: none;
    }

    .home-wrapper h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .home-wrapper p {
        font-size: 15px;
        font-family: Lato, sans-serif;
        line-height: 17px;
        font-weight: lighter;
    }
    
    .menu {
        display: block;
        background-color: rgb(5,8,22);
        padding-top: 60px;
        margin:0;
        float: right;
        margin-left: auto;
    }

    .menu a {
        margin-right: 20px;
        color: white;
    }

    .about-wrapper p {
        font-size: 16px;
        line-height: 10px;
    }

}
