@media (max-width: 1000px) {
    .home-wrapper h1 {
        font-size: 60px;
    }

    .home-wrapper p {
        font-size: 18px;
        line-height: 15px;
    }

    .home-wrapper {
        padding-bottom: 100px;
    }

    .about-wrapper p {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 13px;
    }

    .flex-list {
        flex-wrap: wrap;
    }

    .flex-list li {
        width: 50%;
    }

    .heading {
        font-size: 40px;
    }

    .about-wrapper {
        padding-top: 30px;
    }
}


@media (max-width: 670px) {

    .header-kanan {
        display: none;
    }

    .home-wrapper {
        padding-top: 140px;
    }

    .home-wrapper h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .home-wrapper p {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .menu {
        display: block;
        background-color: rgb(5,8,22);
        padding-top: 10px;
        margin:0;
        float: right;
        margin-left: auto;
        font-size: 10px;
    }

    .menu a {
        margin-right: 20px;
        color: white;
    }

    .about-wrapper h1 {
        font-size: 30px;
    }

    .about-wrapper p {
        font-size: 10px;
        line-height: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .about-wrapper {
        padding-top: 50px;
    }

    .flex-list {
        flex-direction: column;
    }

    .flex-list li {
        margin: auto;
    }

    .heading {
        font-size: 25px;
    }
    .contact-wrapper h1 {
        font-size: 30px;
    }

}
