* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Playfair Display, serif;
}

header {
    margin: 0;
    color: azure;
}
.header-kanan {
    float: right;
    margin-top: 35px;
}

.header-kanan a {
    margin-left: 65px;
    color: azure;
}

.header-kiri {
    float: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }

.home-wrapper {
    background-image: url('D:\dts 2020\belajar');
    background-color: rgb(5,8,22);
    padding-top: 170px;
    padding-bottom: 200px;
    text-align: center;
    color: azure;
}

.home-wrapper h1 {
    font-size: 95px;
    line-height: 90px;
}

.home-wrapper p {
    font-size: 20px;
    font-family: Lato, sans-serif;
    line-height: 20px;
}

.menu {
    display: none;
}

.heading {
    font-size: 50px;
    color:  rgb(5,8,22);
    padding-bottom: 25px;
}

.about-wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-wrapper p {
    font-size: 20px;
    font-family: Lato, sans-serif;
    line-height: 20px;
}

.contact-wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(5,8,22);
}

.cp {
    color: azure;
}

.flex {
    display: flex;
    
}

.kontak-saya {
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    flex-basis: 50%;
}

.kontak {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.btn-kontak {
    font-family: Lato, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 70px 10px 70px;
    display: inline-block;
    border-radius: 31px;
    opacity: 1;
    background-color: rgba(75, 212, 255, 1) ;
    color: rgb(5,8,22);
    text-align: center;
    margin-top: 20px;
}

.btn-kontak:hover {
    opacity: 0.6;
    background-attachment: rgba(255,255,255,0.5);
    color: white;
}

footer {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(75, 212, 255, 1) ;
}
