* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Playfair Display, serif;
}

header {
    margin: 0;
    color: azure;
}
.header-kanan {
    float: right;
    margin-top: 35px;
}

.header-kanan a {
    margin-left: 65px;
    color: azure;
}

.header-kiri {
    float: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }

.home-wrapper {
    background-image: url('D:\dts 2020\belajar');
    background-color: rgb(5,8,22);
    padding-top: 170px;
    padding-bottom: 170px;
    text-align: center;
    color: azure;
}

.home-wrapper h1 {
    font-size: 95px;
    line-height: 90px;
}

.home-wrapper p {
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: none;
}

.heading {
    font-size: 50px;
    color:  rgb(5,8,22);
    padding-bottom: 25px;
}

.about-wrapper {
    text-align: center;
    padding-top: 100px;
}

.about-wrapper h1 {
    font-size: 50px;
}
.about-wrapper p {
    font-size: 20px;
    font-family: Lato, sans-serif;
    line-height: 20px;
}

.contact-wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(5,8,22);
}

.contact-wrapper h1 {
    color: white;
    font-size: 50px;
}

.cp {
    color: azure;
}

.flex {
    display: flex;
    
}

.kontak-saya {
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    flex-basis: 50%;
}

.kontak {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.btn-kontak {
    font-family: Lato, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 70px 10px 70px;
    display: inline-block;
    border-radius: 31px;
    opacity: 1;
    background-color: rgba(82, 194, 214, 1) ;
    color: rgb(5,8,22);
    text-align: center;
    margin-top: 20px;
}

.btn-kontak:hover {
    opacity: 0.6;
    background-attachment: rgba(255,255,255,0.5);
    color: white;
}

footer {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(82, 194, 214, 1) ;
}

.btn-profile {
    font-family: Lato, sans-serif;
    font-weight: bold;
    padding: 8px 50px 10px 50px;
    display: inline-block;
    border-radius: 40px;
    opacity: 1;
    background-color: rgba(82, 194, 214, 1) ;
    color: rgb(5,8,22);
    text-align: center;
    margin-top: 20px;
}

.btn-profile:hover {
    opacity: 0.6;
    background-attachment: rgba(255,255,255,0.5);
    color:white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 30px 50px 90px 50px;
    text-align: center;
}

li {
    color: rgb(5,8,22);
    height: 50px;
    line-height: 50px;
}

.li1 {
    background-color: #FFB8F8;
}

.li2 {
    background-color: #B2DEFF;
}

.li3 {
    background-color: #FFB2B2;
}

.li4 {
    background-color: #CFFFE9;
}

.li5 {
    background-color: #FDE3AE;
}

.flex-list {
    display: flex;
}

.flex-list li {
    flex: auto;
}
